/* 
--------------------
1. Variable Section
--------------------
*/

:root {
    --loadingBgColor: #62ca65;
}

/* 
------------------
2. Loader Section 
------------------
*/

.loader {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--loadingBgColor);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.disppear {
    animation: vanish 1s forwards;
}
@keyframes vanish {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.appear {
    animation: showLoad 1s forwards;
}

@keyframes showLoad {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}